.container {
    display: flex;
}

.wallet-container {
    width: 70%;
    border: 1px solid black;
    height: 100vh;
}

.price-container {
    width: 30%;
    border: 1px solid black;
    height: 100vh;
}