.wrapper {
    background-color: black;
}

.body-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.article-container {
    padding-top: 25px;
    padding-right: 50px;
    width: 80%;
    border-right: 1px solid white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
}

.backet-container {
    width: 20%;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    position: relative;
}

.basket {
    position: fixed;
}

.item-container {
    display: flex;
    justify-content: space-between;
}